<section class="about">
  <h2>Մեր Մասին</h2>
  <p>«Մարտին Սթար» ընկերությունը հիմնադրվել է 2007 թվականին և սկսել է իրականացնել «От Мартина» ապրանքանիշի արևածաղկի սերմերի արտադրությունն ու վաճառքը: Արտադրության ընթացքում բովումը կատարվում է անմիջապես փաթեթավորումից առաջ` հատուկ մշակված տեխնոլոգիայի կիրառմամբ, որը հնարավորություն է տալիս առավելագույնս պահպանել արևածաղկի սերմերի բոլոր առողջարար հատկություններն ու ստեղծել հիանալի համ` արժանանալով մեր սպառողների բարձր գնահատականին:

    Ընկերությունը 2009թ-ից սկսել է արտադրել տարբեր համերի կարտոֆիլային չիպսեր:Չիպսերի արտադրության մեջ օգտագործվում է բնական հումք, իսկ արտադրման համար ներմուծվել են արտասահմանյան ժամանակակից և նորագույն սարքավորումներ: Չիպսերը հերմետիկ փաթեթավորված են, ինչը հնարավորություն է տալիս պահպանել նրանց յուրահատուկ համը, հոտը և որակը:

    «Մարտին Սթար» ընկերությունը 2010 թվականից զարգացրեց արտադրության նոր ճյուղ`պահածոների արտադրություն: Պահածոյացման «արվեստի» այս ճյուղը հնարավորություն է տալիս Հայկական լեռնաշխարհի և Արարատյան դաշտավայրի բերրի հողերից ձեռք բերված բազմատեսակ բանջարեղենային կուլտուրաներից և բացառապես թարմ մրգերից ստանալ հնարավոր և անհնարին բոլոր ամառային բարիքները և հանձնել սպառողին` պահածոների տեսքով:

    Ուսումնասիրելով ազգաբնակչության հարաճուն պահանջները` 2013թ-ից ձեռնարկությունը սկսեց թողարկել պտղային բազմատեսակ կոմպոտներ և հյութեր, որոնք կհամալրեն ազգաբնակչության ուտեստի տեսականին:

    2021թ-ից «Մարտին Սթար» ընկերությունը սկսեց իր համար նոր և տարբերվող արտադրատեսակի՝  կաթնային պաղպաղակի արտադրությունը։ Իսկ ահա 2022թ-ին, իր սպառողին ներկայանալով հերթական նոր ապրանքանիշով, ընկերությունը սկսեց սև և 3-ը 1-ում սուրճերի արտադրությունը։

    Սպառողների համար անվտանգ և սննդային բարձր արժեքով սննդամթերք ապահովելու շրջանակներում կազմակերպությունը առաջնորդվում է ԻՍՕ 22000 միջազգային ստանդարտների
    պահանջներով:

    Այս համակարգի ներդրումը պարտադիր է գրեթե բոլոր առաջատար երկրներում, ինչպես նաև Հայաստանի Հանրապետությունում: Այժմ  ԻՍՕ համակարգի սերտիֆիկատը «Մարտին Սթար» ընկերության համար կարևոր նախապայման է միջազգային շուկաներ դուրս գալու համար:

    Կազմակերպությունն ունի ներկրված ապրանքներ Ռուսաստանից` գազավորված ըմպելիքներ, գարեջուր և բազմահամ խրթխրթան չորահացեր: Գազավորված ըմպելիքները պատրաստված են բնական հումքից, շշալցվում են գերմաքուր պայմաններում և բազմահամ են: Չորահացերը պարունակում են մարդու օրգանիզմին անհրաժեշտ հանքային բաղադրիչներ՝ երկաթ, ֆոսֆոր, նատրիում, կալիում, կալցիում և մագնեզիում: Չորահացերը աղբյուր են հանդիսանում B խմբի վիտամինների համար: Բացի այդ, նրանք պարունակում են մեծ քանակությամբ ածխաջրեր, և միևնույն ժամանակ, շատ հեշտ են մարսվում: martin.su

    Ժամանակակից սարքավորումների, բանիմաց մասնագետների և սպառողների գնահատականի շնորհիվ «Մարտին Սթար» ընկերությունը քայլ առ քայլ զարգացնում է իր արտադրական պրոցեսը՝ գրավելով նոր բարձունքներ: Ընկերության հաջողության գրավականն է`

    «ԲԱՐՁՐ ՈՐԱԿ»:
  </p>
</section>
