HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
*.db

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
src/main/resources/static

# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
frontend/dist
frontend/tmp
frontend/out-tsc
frontend/bazel-out

# Node
frontend/node_modules
frontend/npm-debug.log
frontend/yarn-error.log

# IDEs and editors
frontend/.idea/
frontend/.project
frontend/.classpath
frontend/.c9/
frontend/*.launch
frontend/.settings/
frontend/*.sublime-workspace

# Visual Studio Code
frontend/.vscode/*
frontend/!.vscode/settings.json
frontend/!.vscode/tasks.json
frontend/!.vscode/launch.json
frontend/!.vscode/extensions.json
frontend/.history/*

# Miscellaneous
frontend/node
frontend/.angular
frontend/.sass-cache/
frontend/connect.lock
frontend/coverage
frontend/libpeerconnection.log
frontend/testem.log
frontend/typings

frontend/.DS_Store
frontend/Thumbs.db

upload/media/*
!upload/media/.gitkeep

!upload/media/acecream.png
!upload/media/ajika.png
!upload/media/antari.png
!upload/media/arevacaxik-axi.png
!upload/media/axorjak.png
!upload/media/bank-card-back-side.png
!upload/media/basket.jpg
!upload/media/briket-shoko.png
!upload/media/chips.jpg
!upload/media/chips.mp4
!upload/media/chips-dasakan.png
!upload/media/chips-panir.png
!upload/media/chips-ttvaser.png
!upload/media/chips-xorovac.png
!upload/media/dzoxik.png
!upload/media/favicon.ico
!upload/media/garejur.png
!upload/media/gcavor.png
!upload/media/gcavor axi.png
!upload/media/kon-shokolad.png
!upload/media/kon-vanil.png
!upload/media/lecho.png
!upload/media/lolik.png
!upload/media/makaron.jpg
!upload/media/mix.png
!upload/media/molod.png
!upload/media/molod-axi.png
!upload/media/osob.jpg
!upload/media/osob-axi.png
!upload/media/otborniy.png
!upload/media/otmartina.mp4
!upload/media/popcorn.png
!upload/media/sendvich.mp4
!upload/media/shushan.png
!upload/media/sous.png
!upload/media/spitak-axi.png
!upload/media/sunk.png
!upload/media/terev.png
!upload/media/tomat.png
!upload/media/txemali.png
!upload/media/xaviar.png