<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 https://maven.apache.org/xsd/settings-1.0.0.xsd">

	<servers>
		<server>
			<id>techmock-repository</id>
			<username>admin</username>
			<password>HIZvRyK/oFm849kUO3YRJaK60eXTEYUXKuy3caYdWoa0cQ9TKqYf2qAtpca6/xNz</password>
		</server>
	</servers>
</settings>