<section class="products">
  <h2>Մեր Ապրանքները</h2>
  <div class="product-list">

    <div class="product" *ngFor="let product of products">
      <ng-content *ngIf="product.cover.type == 'IMAGE'">
        <img [src]="product.cover.url" [alt]="product.title">
      </ng-content>
      <h3>{{ product.title }}</h3>
      <p>{{ product.description}}</p>
      <p>{{ "Գին: " + product.price + " դրամ" }}</p>
      <button class="add-to-cart" (click)="addToChart(product)">Ավելացնել զամբյուղ</button>
    </div>
  </div>

</section>
