<shop-header></shop-header>
<shop-product-list></shop-product-list>

<section id="products">

  <h3>Մեր Ապրանքները</h3>
  <div class="product-info">
    <div class="product" id="product-semchka">
      <img src="media/otborniy.png" alt="Արևածաղիկ">
      <h3>Արևածաղիկ</h3>
      <p>Թարմ և որակյալ արևածաղկի սերմեր</p>
    </div>
    <div class="product" id="product-icecream">
      <img src="media/acecream.png" alt="Պաղպաղակ">
      <h3>Պաղպաղակ</h3>
      <p>Համեղ և զովացուցիչ պաղպաղակ</p>
    </div>
    <div class="product"id="product-chips">
      <img src="media/chips.jpg" alt="Չիպսեր">
      <h3>Չիպսեր</h3>
      <p>Խրթխրթան և համեղ չիպսեր</p>
    </div>
    <div class="product"id="product-pahaco">
      <img src="media/antari.png" alt="Պահածոներ">
      <h3>Պահածոներ</h3>
      <p>Որակյալ պահածոյացված մթերքներ</p>
    </div>
  </div>

  <div class="products-popup">

    <div class="category" id="product-semchka__popup">
      <button class="close-btn" id="close-btn-semchka">&times;</button>
      <h3>Արևածաղիկ</h3>
      <div class="category-content">
        <div class="product-flex" id="product__full-size-one">
          <div class="product-card card__prod">
            <img src="media/otborniy.png" alt="Աղի">
            <div class="product-card-content">
              <h4>Հատընտիր արևածաղկի բոված սերմեր</h4>
              <p>Բաղադրությունը` արևածաղկի  սերմեր: Պիտանիության ժամկետը՝ 180 օր արտադրման օրից պահման պայմանների դեպքում: Պահել չոր և զով վայրում, օդի  25 oC ոչ բարձր ջերմաստիճանի և 75 %-ից ոչ ավել  հարաբերական խոնավության պայմաններում:

                Սննդային արժեքը 100 գրամում`
                Ճարպեր  – 52.9 գ
                Ածխաջրեր – 5.0 գ
                Սպիտակուցներ – 20.7 գ
                Էներգետիկ արժեքը – 579 կկալ/2420 կ
              </p>
            </div>
          </div>
          <div class="product-card card__prod">
            <img src="media/arevacaxik-axi.png" alt="Սովորական">
            <div class="product-card-content">
              <h4>Հատընտիր արևածաղկի սերմեր բոված ծովի աղով</h4>
              <p>Բաղադրությունը` արևածաղկի սերմեր, ծովի աղ: Պիտանիության ժամկետը՝ 180 օր արտադրման օրից պահման պայմանների դեպքում։ Պահել չոր և զով  վայրում օդի  25 oC ոչ բարձր ջերմաստիճանի և 75 %-ից ոչ ավել  հարաբերական խոնավության պայմաններում:

                Սննդային արժեքը 100 գրամում`
                Ճարպեր  – 52.9 գ
                Ածխաջրեր – 5.0 գ
                Սպիտակուցներ – 20.7 գ
                Էներգետիկ արժեքը – 579 կկալ/2420 կՋ
              </p>
            </div>
          </div>
          <div class="product-card card__prod">
            <img src="media/gcavor axi .png">
            <div class="product-card-content">
              <h4>Հատընտիր արևածաղկի գծավոր սերմեր բոված աղով</h4>
              <p>Բաղադրությունը` արևածաղկի  սերմեր, աղ: Պիտանիության ժամկետը` 180 օր արտադրման օրից պահման պայմանների դեպքում: Պահել չոր և զով  վայրում  օդի 25˚C ոչ բարձր ջերմաստիճանի և 75%-ից ոչ ավել  հարաբերական խոնավության պայմաններում:

                Սննդային արժեքը 100 գրամում`
                Ճարպեր  – 49.6 գ
                Ածխաջրեր – 19.5 գ
                Սպիտակուցներ – 22.8 գ
                Էներգետիկ արժեքը – 616 կկալ/2579կՋ
              </p>
            </div>
          </div>
          <div class="product-card card__prod">
            <img src="media/gcavor.png">
            <div class="product-card-content">
              <h4>Հատընտիր արևածաղկի գծավոր բոված սերմեր</h4>
              <p>աղադրությունը` արևածաղկի  սերմեր: Պիտանիության ժամկետը` 180 օր արտադրման օրից պահման պայմանների դեպքում: Պահել չոր և զով  վայրում  օդի 25˚C ոչ բարձր ջերմաստիճանի և 75%-ից ոչ ավել  հարաբերական խոնավության պայմաններում:

                Սննդային արժեքը 100 գրամում`
                Ճարպեր  – 52.9 գ
                Ածխաջրեր -5.0 գ
                Սպիտակուցներ – 20.7 գ
                Էներգետիկ արժեքը – 579 կկալ/2420կՋ
              </p>
            </div>
          </div>
          <div class="product-card card__prod">
            <img src="media/mix.png">
            <div class="product-card-content">
              <h4>Հատընտիր արևածաղկի սերմեր բոված աղով և առանց աղի, միքս</h4>
              <p>Բաղադրությունը` արևածաղկի  սերմեր, ծովի աղ: Պիտանիության ժամկետը` 180 օր արտադրման օրից պահման պայմանների դեպքում: Պահել  չոր և զով  վայրում օդի 25˚C  ոչ բարձր ջերմաստիճանի և 75 % ոչ ավել  հարաբերական խոնավության պայմաններում:

                Սննդային արժեքը 100 գրամում`
                Ճարպեր – 52.9 գ
                Ածխաջրեր – 5.0 գ
                Սպիտակուցներ – 20.7 գ
                Էներգետիկ արժեքը – 579 կկալ/2420կՋ
              </p>
            </div>
          </div>
          <div class="product-card card__prod">
            <img src="media/spitak-axi.png">
            <div class="product-card-content">
              <h4>Արևածաղկի սպիտակ սերմեր բոված աղով</h4>
              <p>Բաղադրությունը` արևածաղկի  սերմեր, կերակրի աղ: Պիտանիության ժամկետը` 180 օր արտադրման օրից պահման պայմանների դեպքում: Պահել չոր և զով վայրում օդի 25 oC ոչ բարձր ջերմաստիճանի և 75 %-ից ոչ ավել  հարաբերական խոնավության պայմաններում:

                Սննդային արժեքը 100 գրամում`
                Ճարպեր – 34.5 գ
                Ածխաջրեր – 5.44 գ
                Սպիտակուցներ – 17.06 գ
                Էներգետիկ արժեքը – 386 կկալ/1659ԿՋ
              </p>
            </div>
          </div>
          <div class="product-card card__prod">
            <img src="media/molod.png">
            <div class="product-card-content">
              <h4>«Մոլոդյոժնիե» հատընտիր արևածաղկի բոված սերմեր</h4>
              <p>Բաղադրությունը`  արևածաղկի  սերմեր: Պիտանիության ժամկետը` 180 օր արտադրման օրից պահման պայմանների դեպքում: Պահել չոր և զով վայրում օդի 25˚C ջերմաստիճանից ոչ բարձր և 75 % ոչ ավել հարաբերական խոնավության պայմաններում:

                Սննդային արժեքը 100 գրամում`
                Ճարպեր  – 52.9 գ
                Ածխաջրեր – 5.0 գ
                Սպիտակուցներ – 20.7 գ
                Էներգետիկ արժեքը – 579 կկալ/ 2421,82 կՋ
              </p>
            </div>
          </div>
          <div class="product-card card__prod">
            <img src="media/molod-axi.png">
            <div class="product-card-content">
              <h4>«Մոլոդյոժնիե» հատընտիր արևածաղկի սերմեր բոված ծովի աղով</h4>
              <p>Բաղադրությունը` արևածաղկի  սերմեր, ծովի աղ: Պիտանիության ժամկետը` 180 օր արտադրման օրից պահման պայմանների դեպքում: Պահել չոր և զով  վայրում օդի 25˚C ոչ բարձր ջերմաստիճանի և 75 % ոչ ավել  հարաբերական խոնավության պայմաններում:

                Սննդային արժեքը 100 գրամում`
                Ճարպեր – 52,9 գ
                Ածխաջրեր – 5,0 գ գ
                Սպիտակուցներ – 20,7 գ
                Էներգետիկ արժեքը – 579կկալ/ 2424կՋ
              </p>
            </div>
          </div>
          <div class="product-card card__prod">
            <img src="media/osob.jpg">
            <div class="product-card-content">
              <h4>«Օսոբեննիյե» ընտիր արևածաղկի բոված սերմեր</h4>
              <p>Բաղադրությունը` արևածաղկի  սերմեր: Պիտանիության ժամկետը`  ոչ ավել, քան 350 օր արտադրման և փաթեթավորման օրից` պահման պայմանների դեպքում, օդի 25°C ոչ բարձր ջերմաստիճանի և 75 % ոչ ավել հարաբերական խոնավության պայմաններում:

                Սննդային արժեքը 100 գրամում`
                Ճարպեր  – 52.9 գ
                Ածխաջրեր – 5.0 գ
                Սպիտակուցներ – 20.7 գ
                Էներգետիկ արժեքը – 578 կկալ/2394 կՋ
              </p>
            </div>
          </div>
          <div class="product-card card__prod">
            <img src="media/osob-axi.png">
            <div class="product-card-content">
              <h4>«Օսոբեննիյե» ընտիր արևածաղկի սերմեր բոված ծովի աղով</h4>
              <p>Բաղադրությունը` արևածաղկի  սերմեր, ծովի աղ: Պիտանիության ժամկետը` ոչ ավել, քան 350 օր արտադրման և փաթեթավորման օրից` պահման պայմանների դեպքում, օդի 25°C ոչ բարձր ջերմաստիճանի և 75 % ոչ ավել հարաբերական խոնավության պայմաններում:

                Սննդային արժեքը 100 գրամում`
                Ճարպեր  – 52.9 գ
                Ածխաջրեր – 5.0 գ
                Սպիտակուցներ – 20.7 գ
                Էներգետիկ արժեքը – 578 կկալ/2394 կՋ
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="category" id="product-icecream__popup">
      <button class="close-btn" id="close-btn-icecream">&times;</button>
      <h3>Պաղպաղակ</h3>
      <div class="category-content">
        <div>
          <div class="product-flex" id="product__full-size-one">
            <div class="video-container" class="video-background" >
              <video autoplay loop muted id="video-cont-background1">
                <source src="media/sendvich.mp4" type="video/mp4">
              </video>
            </div>
            <div class="product-card card__prod">
              <img src="media/kon-shokolad.png">
              <div class="product-card-content_popup">
                <h4>Շոկոլադային</h4>
                <p>Բաղադրությունը՝ խմելու ջուր, շաքար, չոր կաթ, սերուցքային կարագ, կակաոյի փոշի, կայունացուցիչներ, վանիլին, գետնանուշ, վաֆլե կոն, շոկոլադե ջնարակ, վանիլին։
                  Պահել՝ -18˚C-ից ոչ բարձր ջերմաստիճանի պայմաններում: Պիտանիության ժամկետը 12 ամսից ոչ ավել արտադրման օրից՝ պահման պայմանները պահպանելու դեպքում։

                  Սննդային արժեքը 100 գրամում`
                  Սպիտակուցներ-6գ
                  ճարպեր- 11,5գ
                  Ածխաջրեր- 36գ
                  Էներգետիկ արժեքը-271կկալ /1135կՋ
                  Յուղի զանգվածային բաժինը կաթնային մասում՝ 5,4%</p>
              </div></div>
            <div class="product-card card__prod">
              <img src="media/kon-vanil.png">
              <div class="product-card-content">
                <h4>Վանիլային</h4>
                <p>Բաղադրությունը՝ խմելու ջուր, շաքար, չոր կաթ, սերուցքային կարագ,  կայունացուցիչներ, վանիլին, գետնանուշ, վաֆլե կոն, շոկոլադե ջնարակ, վանիլին։ Պահել՝ -18˚C ջերմաստիճանի պայմաններում: Պիտանիության ժամկետը 12 ամսից ոչ ավել արտադրման օրից՝ պահման պայմանները պահպանելու դեպքում։

                  Սննդային արժեքը 100 գրամում`
                  Սպիտակուցներ-5,5գ
                  ճարպեր- 11,2գ
                  Ածխաջրեր-36,7գ
                  Էներգետիկ արժեքը-270կկալ /1130կՋ
                  Յուղի զանգվածային բաժինը կաթնային մասում՝ 5,2%</p>
              </div>
            </div>
            <div class="product-card card__prod">
              <img src="media/briket-shoko.png">
              <div class="product-card-content">
                <h4>Բրիկետ շոկոլադային</h4>
                <p>Բաղադրությունը` խմելու ջուր, շաքար, չոր անարատ կաթ, չոր յուղազերծ կաթ, սերուցքային կարագ, կակաոյի փոշի, կայունացուցիչներ, էմուլգատոր: Պահել՝ -18° C-ից ոչ բարձր ջերմաստիճանի պայմաններում: Պիտանիության ժամկետը 12 ամսից ոչ ավել արտադրման օրից՝ պահման պայմանները պահպանելու դեպքում:

                  Սննդային արժեքը 100 գրամում`
                  Սպիտակուցներ-4,8գ
                  ճարպեր- 5,4գ
                  Ածխաջրեր-25գ
                  Էներգետիկ արժեքը-168կկալ /703կՋ
                  Յուղի զանգվածային բաժինը կաթնային մասում՝ 5,4%
                </p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="category" id="product-chips__popup">
      <button class="close-btn" id="close-btn-chips">&times;</button>
      <h3>Չիպսեր</h3>
      <div class="category-content">
        <div class="product-grid">
          <div class="product-card">
            <img src="media/chips-dasakan.png">
            <div class="product-card-content">
              <h4>Դասական</h4>
              <p>Բաղադրությունը` կարտոֆիլի չոր պյուրե, ցորենի ալյուր, կարտոֆիլի օսլա, արևածաղկի ձեթ, խմելու ջուր, կերակրի աղ: Պիտանիության ժամկետը՝ 150 օր արտադրման օրից պահման պայմանների դեպքում: Պահել օդի 25˚C -ից ոչ բարձր ջերմաստիճանի և 75%-ից ոչ ավել խոնավության պայմաններում:

                Սննդային արժեքը 100 գրամում`
                Ճարպեր  — 35 գ
                Ածխաջրեր — 51 գ
                Սպիտակուցներ — 4,3 գ
                Էներգետիկ արժեքը — 536 կկալ/2244 կՋ
              </p>
            </div>
          </div>
          <div class="product-card">
            <img src="media/chips-ttvaser.png">
            <div class="product-card-content">
              <h4>Թթվասերի</h4>
              <p>Բաղադրությունը` կարտոֆիլի չոր պյուրե, ցորենի ալյուր, կարտոֆիլի օսլա, արևածաղկի ձեթ , խմելու ջուր, կերակրի աղ, համալիր համային հավելում «Թթվասեր»: Պիտանիության ժամկետը՝ 150 օր արտադրման օրից պահման պայմանների դեպքում: Պահել օդի 25˚C -ից ոչ բարձր ջերմաստիճանի և 75%-ից ոչ ավել խոնավության պայմաններում:

                Սննդային արժեքը 100 գրամում`
                Ճարպեր  — 35 գ
                Ածխաջրեր — 51 գ
                Սպիտակուցներ — 4,3 գ
                Էներգետիկ արժեքը — 536 կկալ/2244 կՋ
              </p>
            </div>
          </div>
          <div class="product-card">
            <img src="media/chips-panir.png">
            <div class="product-card-content">
              <h4>Պանրի</h4>
              <p>Բաղադրությունը` կարտոֆիլի չոր պյուրե, ցորենի ալյուր, կարտոֆիլի օսլա, արևածաղկի ձեթ , խմելու ջուր, կերակրի աղ, համալիր համային հավելում «Պանիր»: Պիտանիության ժամկետը՝ 150 օր արտադրման օրից պահման պայմանների դեպքում: Պահել օդի 25˚C -ից ոչ բարձր ջերմաստիճանի և 75%-ից ոչ ավել խոնավության պայմաններում:

                Սննդային արժեքը 100 գրամում`
                Ճարպեր  — 35 գ
                Ածխաջրեր — 51 գ
                Սպիտակուցներ — 4,3 գ
                Էներգետիկ արժեքը — 536 կկալ/2244 կՋ
              </p>
            </div>
          </div>
        </div>
        <div class="video-container" class="video-background">
          <video autoplay loop muted id="video-cont-background">
            <source  src="media/chips.mp4" type="video/mp4">
          </video>
        </div>
      </div>
    </div>

    <div class="category" id="product-pahaco__popup">
      <button class="close-btn" id="close-btn-pahaco">&times;</button>
      <h3>Պահածոներ</h3>
      <div class="category-content">
        <div class="product-flex" id="product__full-size">
          <div class="product-card card__prod" >
            <img src="media/xaviar.png">
            <div class="product-card-content">
              <h4>Սմբուկի խավիար</h4>
              <p>Բաղադրությունը` սմբուկ, տոմատի մածուկ, քաղցր կարմիր պղպեղ, արևածաղկի ձեթ, գլուխ սոխ, թարմ գազար, կերակրի աղ, շաքարավազ, մաղադանոս,աղացած կարմիր կծու պղպեղ ։ Պիտանիության ժամկետը` 24 ամիս արտադրման օրից պահման պայմանները պահպանելու դեպքում: Պահել 0˚-ից մինչև +25˚C ջերմաստիճանի և 75%–ից ոչ ավել օդի հարաբերական խոնավության պայմաններում:
                Բացելուց հետո  պահել սառնարանում +2˚C մինչև +6˚C ջերմաստիճանի պայմաններում:
                Սննդային արժեքը 100 գրամում`
                Ճարպեր — 7գ
                Ածխաջրեր — 12գ
                Սպիտակուցներ — 1գ
                Էներգետիկ արժեքը — 115կկալ/480կՋ
              </p>
            </div>
          </div>
          <div class="product-card card__prod">
            <img src="media/ajika.png">
            <div class="product-card-content">
              <h4>Աջիկա</h4>
              <p>Բաղադրությունը` քաղցր կարմիր պղպեղ, տոմատի մածուկ, արևածաղկի ձեթ, կերակրի աղ, շաքարավազ, սխտոր, համեմունքներ՝ համեմի սերմ աղացած, կարմիր կծու պղպեղ աղացած: Պիտանիության ժամկետը` 24 ամիս արտադրման օրից պահման պայմանները պահպանելու դեպքում: Պահել չոր և զով տեղում 0˚-ից մինչև +25˚C  ջերմաստիճանի և 75%-ից ոչ ավել օդի հարաբերական խոնավության պայմաններում: Բացելուց հետո  պահել սառնարանում +2˚C մինչև +6˚C ջերմաստիճանի պայմաններում:
                Սննդային արժեքը 100 գրամում`Ճարպեր — 2գ
                Ածխաջրեր — 15գ
                Էներգետիկ արժեքը — 78կկալ/327կՋ</p>
            </div>
          </div>
          <div class="product-card card__prod">
            <img src="media/tomat.png">
            <div class="product-card-content">
              <h4>Տոմատի մածուկ</h4>
              <p>Բաղադրությունը` լոլիկ: Պիտանիության ժամկետը` 24 ամիս արտադրման օրից:
                Պահել չոր և զով տեղում 0˚-ից մինչև +25˚C ջերմաստիճանի և 75%-ից ոչ ավել օդի  հարաբերական խոնավության պայմաններում:   Բացելուց հետո պահել սառնարանում:
                Սննդային արժեքը 100 գրամում`
                Ածխաջրեր — 15
                Սպիտակուցներ — 4.8գ
                Էներգետիկ արժեքը — 82կկալ/343կՋ
              </p>
            </div>
          </div>
          <div class="product-card card__prod">
            <img src="media/axorjak.png">
            <div class="product-card-content">
              <h4>Ախորժակ</h4>
              <p>Բաղադրությունը` լոլիկ, կծու ծիծակ, արևածաղկի ձեթ, կերակրի աղ, շաքարավազ, սխտոր, մաղադանոս, համեմունքներ՝ սև պղպեղ աղացած, համեմի սերմ աղացած, կարմիր կծու պղպեղ աղացած։ Պիտանիության ժամկետը` 24 ամիս արտադրման օրից պահման պայմանները պահպանելու դեպքում: Պահել 0˚-ից մինչև +25˚C ջերմաստիճանի և 75%–ից ոչ ավել օդի հարաբերական խոնավության պայմաններում: Բացելուց հետո պահել սառնարանում +2˚C մինչև +6˚C ջերմաստիճանի պայմաններում:
                Սննդային արժեքը 100 գրամում`
                Ճարպեր — 8,0գ
                Ածխաջրեր — 9,0գ
                Սպիտակուցներ — 1.5գ
                Էներգետիկ արժեքը — 114կկալ/477կՋ
              </p>
            </div>
          </div>
          <div class="product-card card__prod">
            <img src="media/lecho.png">
            <div class="product-card-content">
              <h4>Լեչո</h4>
              <p>Բաղադրությունը` լոլիկ,  քաղցր պղպեղ, կերակրի աղ, շաքարավազ, մաղադանոս: Պիտանիության ժամկետը` 24 ամիս արտադրման օրից պահման պայմանները պահպանելու դեպքում: Պահել 0˚-ից մինչև +25˚C ջերմաստիճանի և 75% –ից ոչ ավել օդի հարաբերական խոնավության պայմաններում: Բացելուց հետո պահել սառնարանում +2˚C մինչև +6˚C ջերմաստիճանի պայմաններում:
                Սննդային արժեքը 100 գրամում`
                Ածխաջրեր — 10գ
                Էներգետիկ արժեքը — 40կկալ/167կՋ
              </p>
            </div>
          </div>
          <div class="product-card card__prod">
            <img src="media/shushan.png">
            <div class="product-card-content">
              <h4>Շուշան</h4>
              <p>Բաղադրությունը` թարմ շուշան , խմելու ջուր,  կերակրի աղ,  թթվայնության կարգավորիչ՝ քացախաթթու սառցային:  Արտադրման ամսաթիվը (օր, ամիս, տարի), պիտանիության ժամկետը, խմբաքանակի նույնականացման համարը գրված է կափարիչի վրա: Պիտանիության ժամկետը` 2 տարի արտադրման օրից` պահման պայմանները պահպանելու դեպքում: Պահել` չոր և զով տեղում 0˚C մինչև +25˚C ջերմաստիճանի և 75% ոչ ավել օդի հարաբերական խոնավության պայմաններում: Տարան բացելուց հետո մթերքը պահել սառնարանում +2˚C մինչև +6˚C ջերմաստիճանի պայմաններում 72 ժամից ոչ ավել:
                Սննդային արժեքը 100 գրամում`
                Ածխաջրեր — 4,4գ
                Սպիտակուցներ — 1.4 գ
                Էներգետիկ արժեքը — 23կկալ/97կՋ
              </p>
            </div>
          </div>
          <div class="product-card card__prod">
            <img src="media/sunk.png">
            <div class="product-card-content">
              <h4>Սունկ մարինացված</h4>
              <p>Բաղադրությունը` թարմ սունկ, խմելու ջուր, կերակրի աղ, շաքարավազ, թարմ գլուխ սոխ, թարմ սամիթ, համեմունքներ՝ մանանեխի հատիկներ, կարմիր պղպեղ չորացրած, սև հոտավետ հատիկավոր պղպեղ, սև հատիկավոր պղպեղ,  թթվայնության կարգավորիչ-ասկորբինաթթու:  Արտադրման ամսաթիվը (օր, ամիս, տարի), պիտանիության ժամկետը, խմբաքանակի նույնականացման համարը գրված է կափարիչի վրա: Պիտանիության ժամկետը` 2 տարի արտադրման օրից` պահման պայմանները պահպանելու դեպքում: Պահել` չոր և զով տեղում 0˚C մինչև +25˚C ջերմաստիճանի և 75% ոչ ավել օդի հարաբերական խոնավության պայմաններում: Տարան բացելուց հետո մթերքը պահել սառնարանում +2˚C մինչև +6˚C ջերմաստիճանի պայմաններում 24 ժամից ոչ ավել:

                Սննդային արժեքը 100 գրամում`
                Ածխաջրեր — 1,7գ
                Սպիտակուցներ — 3,8 գ
                Էներգետիկ արժեքը — 92կկալ/22կՋ
              </p>
            </div>
          </div>
          <div class="product-card card__prod">
            <img src="media/terev.png">
            <div class="product-card-content">
              <h4>Խաղողի տերև</h4>
              <p>Բաղադրությունը` խաղողի  տերև, կերակրի աղ, խմելու ջուր: Պիտանիության ժամկետը` 24 ամիս արտադրման օրից պահման պայմանները պահպանելու դեպքում: Պահել` 0˚-ից մինչև +25˚C ջերմաստիճանի և 75%-ից ոչ ավել օդի հարաբերական խոնավության պայմաններում:
                Տերևը թողնել սառը ջրում 5-10 րոպե և օգտագործել ըստ նպատակի: Բացելուց հետո  պահել սառնարանում +2˚C մինչև +6˚C ջերմաստիճանի պայմաններում:

                Սննդային արժեքը 100 գրամում`
                Ածխաջրեր — 2.9գ
                Էներգետիկ արժեքը — 12կկալ/50կՋ
              </p>
            </div>
          </div>
          <div class="product-card card__prod">
            <img src="media/sous.png">
            <div class="product-card-content">
              <h4>Տոմատի կծու սոուս</h4>
              <p>Բաղադրությունը` լոլիկ, կծու ծիծակ, արևածաղկի ձեթ, կերակրի աղ, շաքարավազ, սխտոր,  մաղադանոս, սև պղպեղ աղացած, համեմի սերմ աղացած, կարմիր կծու պղպեղ աղացած: Պիտանիության ժամկետը` 24 ամիս արտադրման օրից պահման պայմանների դեպքում: Պահել` չոր և զով տեղում 0 ˚C մինչև + 25 ˚C ջերմաստիճանի և 75 %-ից ոչ ավել օդի հարաբերական խոնավության պայմաններում:

                Սննդային արժեքը 100 գրամում`
                Ճարպեր — 8գ
                Ածխաջրեր — 9գ
                Սպիտակուցներ — 1.5գ
                Էներգետիկ արժեքը — 114կկալ/477կՋ
              </p>
            </div>
          </div>
          <div class="product-card card__prod">
            <img src="media/txemali.png">
            <div class="product-card-content">
              <h4>Տղեմալի</h4>
              <p>Բաղադրությունը` սալոր, սխտոր, կարմիր կծու ծիծակ, կերակրի աղ,  համեմ, սունելի, օմբալա: Պիտանիության ժամկետը` 24 ամիս արտադրման օրից պահման պայմանների դեպքում: Պահել չոր և զով տեղում  0 ˚C մինչև + 25 ˚C ջերմաստիճանի և 75%-ից ոչ ավել օդի հարաբերական խոնավության պայմաններում:

                Սննդային արժեքը 100 գրամում`
                Ածխաջրեր — 16գ
                Էներգետիկ արժեքը—64կկալ/268կՋ
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="about">
  <h2>Մեր Մասին</h2>
  <p>«Մարտին Սթար» ընկերությունը հիմնադրվել է 2007 թվականին և սկսել է իրականացնել «От Мартина» ապրանքանիշի արևածաղկի սերմերի արտադրությունն ու վաճառքը: Արտադրության ընթացքում բովումը կատարվում է անմիջապես փաթեթավորումից առաջ` հատուկ մշակված տեխնոլոգիայի կիրառմամբ, որը հնարավորություն է տալիս առավելագույնս պահպանել արևածաղկի սերմերի բոլոր առողջարար հատկություններն ու ստեղծել հիանալի համ` արժանանալով մեր սպառողների բարձր գնահատականին:

    Ընկերությունը 2009թ-ից սկսել է արտադրել տարբեր համերի կարտոֆիլային չիպսեր:Չիպսերի արտադրության մեջ օգտագործվում է բնական հումք, իսկ արտադրման համար ներմուծվել են արտասահմանյան ժամանակակից և նորագույն սարքավորումներ: Չիպսերը հերմետիկ փաթեթավորված են, ինչը հնարավորություն է տալիս պահպանել նրանց յուրահատուկ համը, հոտը և որակը:

    «Մարտին Սթար» ընկերությունը 2010 թվականից զարգացրեց արտադրության նոր ճյուղ`պահածոների արտադրություն: Պահածոյացման «արվեստի» այս ճյուղը հնարավորություն է տալիս Հայկական լեռնաշխարհի և Արարատյան դաշտավայրի բերրի հողերից ձեռք բերված բազմատեսակ բանջարեղենային կուլտուրաներից և բացառապես թարմ մրգերից ստանալ հնարավոր և անհնարին բոլոր ամառային բարիքները և հանձնել սպառողին` պահածոների տեսքով:

    Ուսումնասիրելով ազգաբնակչության հարաճուն պահանջները` 2013թ-ից ձեռնարկությունը սկսեց թողարկել պտղային բազմատեսակ կոմպոտներ և հյութեր, որոնք կհամալրեն ազգաբնակչության ուտեստի տեսականին:

    2021թ-ից «Մարտին Սթար» ընկերությունը սկսեց իր համար նոր և տարբերվող արտադրատեսակի՝  կաթնային պաղպաղակի արտադրությունը։ Իսկ ահա 2022թ-ին, իր սպառողին ներկայանալով հերթական նոր ապրանքանիշով, ընկերությունը սկսեց սև և 3-ը 1-ում սուրճերի արտադրությունը։

    Սպառողների համար անվտանգ և սննդային բարձր արժեքով սննդամթերք ապահովելու շրջանակներում կազմակերպությունը առաջնորդվում է ԻՍՕ 22000 միջազգային ստանդարտների
    պահանջներով:

    Այս համակարգի ներդրումը պարտադիր է գրեթե բոլոր առաջատար երկրներում, ինչպես նաև Հայաստանի Հանրապետությունում: Այժմ  ԻՍՕ համակարգի սերտիֆիկատը «Մարտին Սթար» ընկերության համար կարևոր նախապայման է միջազգային շուկաներ դուրս գալու համար:

    Կազմակերպությունն ունի ներկրված ապրանքներ Ռուսաստանից` գազավորված ըմպելիքներ, գարեջուր և բազմահամ խրթխրթան չորահացեր: Գազավորված ըմպելիքները պատրաստված են բնական հումքից, շշալցվում են գերմաքուր պայմաններում և բազմահամ են: Չորահացերը պարունակում են մարդու օրգանիզմին անհրաժեշտ հանքային բաղադրիչներ՝ երկաթ, ֆոսֆոր, նատրիում, կալիում, կալցիում և մագնեզիում: Չորահացերը աղբյուր են հանդիսանում B խմբի վիտամինների համար: Բացի այդ, նրանք պարունակում են մեծ քանակությամբ ածխաջրեր, և միևնույն ժամանակ, շատ հեշտ են մարսվում: martin.su

    Ժամանակակից սարքավորումների, բանիմաց մասնագետների և սպառողների գնահատականի շնորհիվ «Մարտին Սթար» ընկերությունը քայլ առ քայլ զարգացնում է իր արտադրական պրոցեսը՝ գրավելով նոր բարձունքներ: Ընկերության հաջողության գրավականն է`

    «ԲԱՐՁՐ ՈՐԱԿ»:
  </p>
</section>

<section id="contact">
  <h2>Կապ մեզ հետ</h2>
  <form id="contact-form">
    <input type="text" name="user_name" placeholder="Ձեր Անունը" required>
    <input type="email" name="user_email" placeholder="Ձեր Էլ․ փոստը" required>
    <textarea name="message" placeholder="Ձեր Հաղորդագրությունը" required></textarea>
    <button type="submit">Ուղարկել</button>
  </form>
</section>

<!-- Մոդալ պատուհան -->
<div id="paymentModal" class="modal">
  <div class="modal-content">
    <span class="close" id="closeModal">&times;</span>
    <h3>Վճարման համակարգ</h3>
    <p>Խնդրում ենք լրացնել Ձեր քարտի տվյալները՝ պատվերը ավարտելու համար։</p>

    <div class="payment-form">
      <div class="form-group">
        <label for="cardNumber">Քարտի համար</label>
        <div class="input-icon">
          <img src="media/https://img.icons8.com/color/48/000000/bank-card-back-side.png" alt="card icon" />
          <input type="text" id="cardNumber" placeholder="XXXX XXXX XXXX XXXX" maxlength="16">
          <div id="cardNumberError" class="error-message"></div>
        </div>
      </div>

      <div class="form-group">
        <label for="cardName">Անուն և Ազգանուն (Քարտի վրա)</label>
        <input type="text" id="cardName" placeholder="Անուն Ազգանուն" required>
        <div id="cardNameError" class="error-message"></div>
      </div>

      <div class="form-row">
        <div class="form-group half">
          <label for="expiryDate">Ժամկետ</label>
          <input type="text" id="expiryDate" placeholder="MM/YY" maxlength="5" required>
          <div id="expiryDateError" class="error-message"></div>
        </div>
        <div class="form-group half">
          <label for="cvv">CVV</label>
          <input type="password" id="cvv" placeholder="***" maxlength="3" required>
          <div id="cvvError" class="error-message"></div>
        </div>
      </div>

      <button id="submitPayment">Վճարել</button>
    </div>
  </div>
</div>
