<div class="category">
  <button class="close-btn" (click)="close()">&times;</button>
  <h3>{{ category.title }}</h3>
  <div class="category-content">
    <div class="category-content-flex">

      @if(category.coverVideo) {

        <div class="video-container">
          <video [autoplay]="true" [loop]="true" [muted]="true">
            <source [src]="category.coverVideo" type="video/mp4">
          </video>
        </div>

      }

      <div class="category-content-flex">

        @for (product of category.products; track product.title) {

          <div class="product-card">
            <img [src]="product.image">
            <div class="product-card-content">
              <h4>{{ product.title }}</h4>
              <p>{{ product.description }}</p>
            </div>
          </div>

        }
      </div>
    </div>
  </div>

</div>
