* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Բարելավված գլխավոր համը */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

button {
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.category-popup {
  .mat-mdc-dialog-surface {
    border-radius: 0;
    background-color: #333;
  }
}

.payment-popup {
  .mat-mdc-dialog-surface {
    border: 1px solid #888;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
}
